.mdc-list-item__end-detail {
    display: inline-block;
    margin-left: auto;
    margin-right: 0;
    .mdc-list-item__meta {
        display: inline-block;
        padding: 5px;
        margin: 5px;
        cursor: pointer;
        &:hover {
            color: black;
        }
    }
}

.mdc-list>a {
    text-decoration: none;
    color: initial;
}

.submenu__children {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height .3s;
    -o-transition: max-height .3s;
    transition: max-height .3s;
    .mdc-list-item {
        text-indent: 1.5rem;
    }
}

.submenu__children--open {
    max-height: 25rem;
}